
.tituloTienda{
  color: black;
  font-size: 25px;
 }
 .linea{
  border-top: 1px solid gray; 
 }
.menus{
  color: gray;
}
.menuCuenta{
  display: flex;
  justify-content:flex-end;
  font-size: 25px;
  padding-bottom: 15px;
}
.menuTienda{
  display: flex;
  justify-content: flex-start;
  font-size: 25px;
  padding-bottom: 15px;
  padding-top: 15px;
  }
.imagen1{
  background: url("/assets/product1.jpeg");
  width: 950px;
  height: 450px;
  display: flex;
}
.imagen2{
  background-image: url("/assets/product2.jpeg");
  width: 320px;
  height:155px;
  float: left;
 background-position: center;
 background-size: cover;
}
.imagen3{
  background-image: url("/assets/product3.jpeg");
  width: 320px;
  height: 155px;
  float:left;
  background-position: center;
  background-size: cover;
}
.imagen4{
  background-image: url("/assets/product1.jpeg");
  width:310px ;
  height:155px ;
  float: left;
  background-position: center;
  background-size: cover;
}
.titulo{
  color: black;
  font-size: 60px;
  margin: 40px;
  justify-content: center;
  padding-left: 
}
.precio{
  color: black;
  font-size:50px;
  margin: 40px;
}
.contenido{
  display: flex;
  flex-direction: row;
}
.descripcion{
  color: gray;
  font-size: 25px;
  display: block;
  margin: 40px;
 }
.boton{
 bottom: 50px; right: 50px;
  margin-right: 500px;
  position: absolute; 
  background-color: grey;
  padding: 15px 35px;
  color: white;
  font-weight: bold;
  }
